<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="content" class="clearfix">
  <div class="relative_inner">
    <div id="inner_content">
      <h1><%=@title%></h1>
      <div id="twitter-blog" style="width: 168px; padding-right: 10px; padding-left: 25px; padding-top: 100px;">
						Follow us
        <br>
        <a target="_blank" href="http://twitter.com/StudentsforumSF" title="twitter">@StudentsforumSF</a>

      </div>
    </div>
  </div>
</div>
