<h2>Students' Forum</h2>
<div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  As engineers we know how hard it is to get placed in your dream company. We understand that where you start-out will more often than not decide how your career will take shape. But where there are problems we find solutions,after-all that is what engineers do.We understand your problems because we have faced them.
  <br />
  <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Student’s Forum (SF) has helped nearly 5000 students from premier institutes in Pune like VIT,VIIT and SIT. 
  We provide several services to help students focus such as resume streamlining, in-depth and company specific aptitude
  preparation, connecting students with others who have been through the process and are currently working in the
  company of choice, we teach various self-development techniques that help students to identify and improve on
  their shortcomings through personal interaction.SF also helps to polish soft skills of those candidates
  that are “rough-around-the edges “ to help you achieve your true potential.
  <br /><br />
  <h5>What SF does?</h5>
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  We at SF help candidates to prepare for the entire placement process by holding mock interviews, group discussions and
  personal interviews so that when you face that all important job interview you are truly and completely ready.
  We instruct you giving you several rules of thumb on the “do’s and don’ts” of any interview.
  We give handy tips on all the minute details regarding the candidate’s appearance and grooming thereby
  ensuring that he or she makes a lasting impression on the employer.
  <br />

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        SF prepares candidates for  group discussions as well by teaching them several techniques to help them
      put across their point of view in a manner that is concise, correct and refined .
    Connecting with alumni of an organization is one of the unique features of SF.
    SF is different from others in that it provides a tailor made solution to your problems through personal interaction it ensures that the individual’s needs are catered to.
     SF also provides you answers to any queries that you may have via its open forum. We are your 24*7 online placement helpline.
  
<br />
  <br />

</div>
