<div id="content" class="clearfix">
  <div class="relative">
    <div style="width:940px; margin:auto; overflow:hidden; padding-bottom:70px">
      <div style="position: relative;" id="slider-wrapper">
        <div style="width:940px; height:auto !important" id="slider">
          <ul style="width: 2880px; margin-left: 0px;">
            <li style="margin-left: -0px; float: left;">
              <div id="landingContent">
                <div style="float:left; padding-top:10px; width:410px;">
                  <img src="images/slide1.png" width="410" />
                </div>
                <div id="sideCopy">
                  <div style="padding-top:10px">
                    <h1>Pre Placement Training That Gives You The Edge </h1>
                    <div  style="padding-top:10px">
			Provides the Pre-Placement Training in all  the required skill sets,so that you land that perfect first job
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </li>
            <li style="float: left;">
              <div id="landingContent1">
                <div style="float:left; padding-top:10px; width:410px;">
                  <img src="images/slide2.png" height="230" />
                </div>
                <div id="sideCopy">
                  <div style="padding-top:10px">
                    <h1>Loads Of Relevant Resources</h1>
                    <div  style="padding-top:10px">
			We provide you with tons of resources for learning and connect every candidate to their institute’s alumni and previously selected candidates thereby helping them improve their professional network.
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </li>
            <li style="float: left;">
              <div id="landingContent">
                <div style="float:left; padding-top:10px; width:410px;">
                  <img src="images/slide3.jpg" width="300" />
                </div>
                <div id="sideCopy">
                  <div style="padding-top:10px">
                    <h1>Analysis That Help You Grow </h1>
                    <div  style="padding-top:10px">

                      SF provides one-to-one analysis for each candidate to help them identify their weaknesses and strengths thereby helping them develop in a holistic manner

                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </li>
            <li style="float: left;">
              <div id="landingContent">
                <div style="float:left; padding-top:20px; width:410px;">
                  <img src="images/slide4.png" height="230" />
                </div>
                <div id="sideCopy">
                  <div style="padding-top:10px">
                    <h1>Transforming You For The Professional World </h1>
                    <div  style="padding-top:10px">
			 SF also helps to polish soft skills of those candidates that are "rough-around-the edges" to help you achieve your true potential.
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div id="twitter-blog" style="width: 168px; padding-right: 10px; padding-left: 25px; padding-top: 100px;">
						Follow us
        <br>
        <a target="_blank" href="http://twitter.com/StudentsforumSF" title="twitter">@StudentsforumSF</a>

      </div>
    </div>
  </div>
</div>
<div id="container">
  <div id="mainContent" class="clearfix top_space2">
    <h2><img src="images/SF.png" /></h2>
    <div class="whiteBox">
      <div style="width:940px">

        Student’s Forum(SF) is a unique forum for students to discuss industry placements in terms that students understand. “Made  by engineers for engineers is what makes us different”.Our experience in various placement related areas will help you land that all important first job. Our training sessions and events help students to get polished and channelled in the right direction so that ,they can face anything that the competitive job market of today throws at them.


      </div>
      <ul id="key_benefits_list">
        <li>
          <h6 class="build">What we want to do?</h6> 
          Conduct Pre-Placement Session similar to campus placement session.
          Session includes Aptitude Test, Discussion of Aptitude Test, GD, PI.
          We will provide analysis at individual and institute level.
          Interaction between alumni and the final year students through online
          and offline activities.

        </li>
        <li style="padding-right:20px">
          <h6 class="maximize">Why we want to do?</h6>
          <ul>
            We provide students with first hand experience of the placement
            process providing exposure to what they may face during campus
            placements.
            Making students aware about their preparations and allowing them to
            improve on the areas required.
            It will add value to the preparation level of students and indirectly to the
            institution.
          </ul>
        </li>
        <li>
          <h6 class="sales"> How we plan to do?</h6>
          An eight-hour session on a single day comprising of an entire placement procedure.
          Providing analysis to an individual and institute.
          Allowing students to interact with seniors and share information via
          forum specific to their college.
          May provide documents on Resume-writing and GD preparation.

        </li>
      </ul>

    </div>

  </div>
  <br />
  <div>
    <h3><img src="images/testimonials.png"></h3>
  </div>
  <div style="overflow:hidden; width:940px; margin:auto">
    <div id="testimonial_list" style="width:480px">
      <div>
        <h3><img class="quote_img" src="images/quote_icon_left.png"> I think SF is a brilliant and unique platform for students to exchange information regarding the placement process. This process may seem simple to those who haven’t been through it but in reality it requires a lot of preparation on the part of the student.As a placement officer we would like that our students are not merely placed but placed according to their skill where they can utilize their knowledge, grow within the organization and contribute to society.
          <img align="middle" src="images/quote_icon_right.png"></h3>
      </div>
      <div style="overflow: hidden; margin-top:5px">
        <p style="float: right; padding-top:5px; width:230px;margin-top:15px;border-left:1px #eaeaea solid; padding-left:15px; padding-bottom:5px">
          <strong><em>Pawar Virendra D,</em></strong>
          <br>
							Training & Placement Officer,
          <br>
							Vishwakarma Institute of Technology.
        </p>
        <div style="float: left; padding-top:0px; width:160px"><img align="right" src="images/vit.png">
        </div>
      </div>
    </div>
    <div style="float:right" id="testimonial_list">
      <div>
        <h3><img class="quote_img" src="images/quote_icon_left.png"> I am thoroughly impressed with the features that this group offers and would definitely recommend it very highly to all my students. Experience is a vital resource in today’s world and a group like SF helps students make that all important transition from being a student to being a professional that is industry-ready <img align="middle" src="images/quote_icon_right.png"></h3>
      </div>
      <div style="overflow: hidden; margin-top:15px;">
        <p style="float: right; padding-top:5px; width:210px; border-left:1px #eaeaea solid; padding-left:15px; padding-bottom:5px">
          <strong><em>Patrick Hurley,</em></strong>
          <br>
							Training & Placement Officer,
          <br>
							Sinhgad College of Engineering .
        </p>
        <div style="float: left; padding-left:10px; width:160px"><img align="right" src="images/sit.png">
        </div>
      </div>
    </div>
  </div>
</div>
