<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h1 style="font-size: 20px">Discovering the procedure</h1>
<br />
SF  provides candidates with detailed and specific information regarding each company’s placement procedure.We take a mock
placement procedure including Aptitude test , HR interviews ,Technical interviews,Group discussions.This gives candidates the placement experience before the real game begins.

<br /><br />
<h1 style="font-size: 20px"> Beat the Test!!</h1>
<br />
We help candidates focus on the test-areas that matter helping students to score higher thereby improving their chances.
<br /><br />
<h1 style="font-size: 20px">In-depth Personal Analysis </h1>
<br />
SF provides one-to-one analysis for each candidate to help them identify their weaknesses and strengths A detail report is generated for every student as well as on the institute level .We analyze each candidates resume and help them highlight themselves separating them from the rest.
<br /><br />
<h1 style="font-size: 20px">Helping you grow</h1>
<br />
We advise students on how to improve on their resume’s by providing them with industry relevant information to help candidates sharpen their skills.We also provide rigorous training to help you reach your true potential.
<br /><br />
<h1 style="font-size: 20px">Offline - Online connection.</h1>
<br />
After an event in your campus we connect every candidate to their institute’s alumni thereby helping them improve their professional network.Alumni are encouraged to share valuable information that can be learned only through experience.We at SF stress on the importance of sharing information and believe that knowledge truly empowers.
Queries can be asked on our online platform related to any placement specific area ,we make sure that they are answered by our experts.