
<h1>Testimonials</h1>
</br>
</br>
<div class="testimonialsListTestimonial" style="font-style: italic ">
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Students' Forum is the helping hand I got and I am grateful to the group.
    The best place where I could get help,clear my doubts about any small thing
    starting from current events to doubts in any domain.
    It helped me to avoid mistakes because they were there to guide us.
    This is the best platform I ever had to communicate with the right person related to placements
    and acquire the needed help – I really felt taken care because of SF"
  </p>
  <strong>
    <span class="client" style="font-family: Gill,Helvitica ;font-style: normal;font-size: 15px">
      Athashri Halale,</br>
      VIT,Pune</br>
      Cognizant.
    </span>
  </strong>
</br>
</br>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Student Forum is a great place for students as we not 
    only get information about tests but we also get information about interview procedure.
    They provide company specific informations and thats very unique according to me.
    Students' Forum helped me and all students from 2012 batch in our placements. Thanks SF"
  </p>
  <strong>
    <span class="client" style="font-family: Gill,Helvitica ;font-style: normal;font-size: 15px">
      Prathamesh Sonpatki,</br>
      VIT,Pune</br>
      S1 Services.
    </span>
  </strong>

</div> 