<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h2>Thank you</h2>
</br>
Thank you for your interest in StudentsForum.We will surely get in contact with you as soon as possible.
