<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
  <head>
    <title>Students'Forum</title>
<%# stylesheet_link_tag :all %>
<%# csrf_meta_tag %>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/slider.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29244214-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
    <body id="home" class="b">
    <%=render(:partial=>'header')%>
    <%= yield %>
    <%=render(:partial=>'footer')%>
  </body>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/magik.js"></script>
    <script type="text/javascript" src="javascripts/custom.js"></script>
</html>
