<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
  <head>
    <title>Students'Forum</title>
<%# stylesheet_link_tag :all %>
<%# csrf_meta_tag %>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/slider.css" rel="stylesheet" type="text/css"/>
  </head>
  <a title="Real Time Web Analytics" href="http://getclicky.com/66541733"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66541733); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66541733ns.gif" /></p></noscript>
  <body id="home" class="b">
    <%=render(:partial=>'header')%>
    <%= yield %>
    <%=render(:partial=>'footer')%>
  </body>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/magik.js"></script>
    <script type="text/javascript" src="javascripts/custom.js"></script>
</html>
